body {
  font-family: "Lato";
}

.hidden {
  display: none;
}

.header {
  margin: 0px 16px 5px 16px;
  margin-top: 16px;
  border-bottom: 2px solid #d9d9d9;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 48px;
  height: 48px;
}

.logo p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

/* --- HOME SCREEN --- */
.intro {
  margin-top: 109px;
  margin-bottom: 78px;
  margin-left: 32px;
  max-width: 318px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

body {
  width: 383px;
  height: 600px;

  text-align: center;
}

#btn {
  width: 272px;
  height: 53px;
  border: 0;
  left: 56px;
  top: 345px;
  background: #ff6634;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: #fdfdfd;
}

/* --- RESULTS SCREEN --- */
.back-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 21px;
  font-weight: bold;
  padding-left: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
}

.material-icons-round.arrow {
  font-size: 30px;
}

.results-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.result-card {
  width: 319px;
  height: 72px;
  padding-left: 28px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffeee9;
  border-radius: 15px;
}

.card-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.result-card p {
  padding: 0;
  margin: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-text.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.material-icons-round.status-icon {
  font-size: 40px;
  color: #59a011;
}

.material-icons-round.disclosure {
  font-size: 50px;
}

/* --- RESULT DETAILS --- */

.result-details{
  width: 351px;
  height: 406px;
  margin-left: 16px;
  margin-top: 33px;
  background: #FFEEE9;
  border-radius: 15px;
  text-align: left;
}

.result-details p{
  width: 303px;
  height: 76px;
  margin-left: 24px;
  padding-top: 19px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.details-list{
list-style: none;
margin-top: 79px;
margin-left: 64px;
padding: 0;
}

.details-list li{
  margin-bottom: 27px;
  display: flex;
  align-items: center;
}

.details-list li span {
  padding-right: 8px;
}

/* --- DEPRECATED TAGS --- */
.deprecated-html-tags .result-details,
.link-checker .result-details{
  background-color:#fff;
  margin-top: 8px; 
}

.tags-title{
display: flex;
justify-content: space-between;
margin-top: 0px;
color: #FF6634;
border-bottom: 1px solid #FF6634;
}

.tags-title p{
padding: 0px;
margin: 0px;
margin-bottom: 8px;
height: fit-content;
}


.tags-title .right{
  text-align: right;
}

.deprecated-html-tags ul,
.link-checker ul{
  margin: 0;
  margin-top: 20px;
}

.deprecated-html-tags li{
  display: flex;
  justify-content: space-between;
}

.link-checker li{
  display: block;
}

.deprecated-html-tags li p,
.link-checker li p{
  margin: 0px;
  height: fit-content;
  padding: 0;
}

.deprecated-html-tags li p:last-child{
  text-align: right;
}

.link-checker ,.result-details p{
  width: auto;
}